<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender</title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <header style="padding: 100px;">
        <div class="w3-third w3-center w3-card-4 w3-green w3-wide" onclick="window.location.href='/'">Home</div>
        <div class="w3-third w3-center w3-card-4 w3-red w3-wide" onclick="window.location.href='/overview'">Overview
        </div>
        <div class="w3-third w3-center w3-card-4 w3-yellow w3-wide" onclick="window.location.href='/calender'">Calender
        </div>
    </header>
    <main style="padding: 100px;"></main>
    <footer style="padding:100px;">
        <div class="w3-center w3-wide">Powered By <img src="/public/python.png" alt="python"
                style="width: 16px;height:16px;"> <img src="/public/fastapi.jpeg" alt="python"
                style="width: 16px;height:16px;"></div>
    </footer>
</body>

</html>