<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
    <header style="padding:100px;">
        <div class="w3-third w3-center w3-card-4 w3-green w3-wide" onclick="window.location.href='/'">Home</div>
        <div class="w3-third w3-center w3-card-4 w3-red w3-wide" onclick="window.location.href='/overview'">Overview</div>
        <div class="w3-third w3-center w3-card-4 w3-yellow w3-wide" onclick="window.location.href='/calender'">Calender</div>
    </header>
    <main style="padding:100px;">
        <div class="w3-row w3-hide-small">
            <div class="w3-half" id="chart"></div>
            <div class="w3-half">
                <h3 id="title" class="w3-wide w3-center"></h3>
                <div class="w3-row w3-card-4">
                    <div class="w3-third w3-padding">
                        <form action="" id="history" method="post" autocomplete="off">
                            <div id="notification"></div>
                            <label for=""><b>Currencies</b></label>
                            <input type="text" name="currency" id="currency" class="w3-input" placeholder="Currency">
                            <label for=""><b>Timeframe</b></label>
                            <select name="interval" id="" class="w3-input">
                                <option value="5m">5 Minutes</option>
                                <option value="15m">15 Minutes</option>
                                <option value="30m">30 Minutes</option>
                                <option value="1h">1 Hour</option>
                                <option value="1d">1 Day</option>
                                <option value="5d">5 Days</option>
                                <option value="1wk">1 Week</option>
                                <option value="1mo">1 Month</option>
                            </select>
                            <br>
                            <input type="submit" class="w3-input">
                        </form>
                    </div>
                    <div class="w3-third w3-padding">
                        <form action="" id="pivot-point" method="post">
                            <div id="pivot-point-notification"></div>
                            <label for=""><b>Pivot Point Type</b></label>
                            <select name="type" id="" class="w3-input">
                                <option value="Classic">Classic</option>
                                <option value="Fibonacci">Fibonacci</option>
                                <option value="Camarilla">Camarilla</option>
                                <option value="Woodie's">Woodie's</option>
                                <option value="DeMark's">DeMark's</option>
                            </select>
                            <label><b>Line Type</b></label>
                            <br>
                            <span><b>S3</b> </span><input type="checkbox" name="s3" id="">
                            <br>
                            <span><b>S2</b> </span><input type="checkbox" name="s2" id="">
                            <br>
                            <span><b>S1</b> </span><input type="checkbox" name="s1" id="">
                            <br>
                            <span><b>P0</b> </span><input type="checkbox" name="p" id="">
                            <br>
                            <span><b>R1</b> </span><input type="checkbox" name="r1" id="">
                            <br>
                            <span><b>R2</b> </span><input type="checkbox" name="r2" id="">
                            <br>
                            <span><b>R3</b> </span><input type="checkbox" name="r3" id="">
                            <br>
                            <input type="submit" class="w3-input">
                        </form>
                    </div>
                    <div class="w3-third w3-padding">
                        <form action="" method="post" id="pattern">
                            <div id="pattern-notification"></div>
                            <label for=""><b>Pattern</b></label>
                            <select name="pattern" id="" class="w3-input">
                                <option value="CDL3OUTSIDE">OUTSIDE</option>
                                <option value="CDL3INSIDE">INSIDE</option>
                                <option value="CDLINVERTEDHAMMER">INVERTEDHAMMER</option>
                                <option value="CDLHARAMICROSS">HARAMICROSS</option>
                                <option value="CDLHARAMI">HARAMI</option>
                                <option value="CDLENGULFING">ENGULFING</option>
                                <option value="CDLDOJI">DOJI</option>
                                <option value="CDLDRAGONFLYDOJI">DRAGONFLYDOJI</option>
                                <option value="CDLRISEFALL3METHODS">RISEFALL3METHODS</option>
                                <option value="CDLXSIDEGAP3METHODS">XSIDEGAP3METHODS</option>
                                <option value="CDLDOJISTAR">DOJISTAR</option>
                                <option value="CDLBELTHOLD">BELTHOLD</option>
                                <option value="CDLADVANCEBLOCK">ADVANCEBLOCK</option>
                                <option value="CDL3BLACKCROWS">BLACKCROWS</option>
                                <option value="CDLSHOOTINGSTAR">SHOOTINGSTAR</option>
                                <option value="CDLSEPARATINGLINES">SEPARATINGLINES</option>
                            </select>
                            <label for=""><b>Pivot Point Type</b></label>
                            <select name="type" id="" class="w3-input">
                                <option value="Classic">Classic</option>
                                <option value="Fibonacci">Fibonacci</option>
                                <option value="Camarilla">Camarilla</option>
                                <option value="Woodie's">Woodie's</option>
                                <option value="DeMark's">DeMark's</option>
                            </select>
                            <label><b>S/R Lines</b></label>
                            <br>
                            <span><b>S3</b> </span><input type="checkbox" name="s3" id="">
                            <br>
                            <span><b>S2</b> </span><input type="checkbox" name="s2" id="">
                            <br>
                            <span><b>S1</b> </span><input type="checkbox" name="s1" id="">
                            <br>
                            <span><b>P0</b> </span><input type="checkbox" name="p" id="">
                            <br>
                            <span><b>R1</b> </span><input type="checkbox" name="r1" id="">
                            <br>
                            <span><b>R2</b> </span><input type="checkbox" name="r2" id="">
                            <br>
                            <span><b>R3</b> </span><input type="checkbox" name="r3" id="">
                            <br>
                            <input type="submit" class="w3-input">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer style="padding:100px;">
        <div class="w3-center w3-wide">Powered By <img src="/public/python.png" alt="python" style="width: 16px;height:16px;"> <img src="/public/fastapi.jpeg" alt="python" style="width: 16px;height:16px;"></div>
    </footer>
    <script src="/public/index.js"></script>
</body>

</html>